p {
    font-family: Now, Georgia, serif;
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
  }

  button {
    font-family: Now, Georgia, serif;
    background: #D09591;
    color: rgb(255 255 255 / 1);
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    float: right up;
    margin-left: 600px;
    margin-bottom: 400px;
  }

  #heading {    
    border: 2px solid #D09591;
    background: #FEB4a1;
    color: rgb(255 255 255 / 1);
    border-radius: 1px;
    padding: 1px 1px;
    display: block;
    cursor: crosshair;
}

  #button {
    font-family: Georgia, serif;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: capitalize;
    width: 45%;
    padding-top: 1px;
    float: right up;
    text-align: right;
    margin-left: 600px;
    margin-bottom: 400px;
}

.right {
    float: right up;
}

