body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fab69d;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
    margin-top: 0px;
}

h3 {
    margin-bottom: 0px;
    margin-top: 2px;
    text-align: center;
    text-decoration: underline;
}

p {
    color: black
}

input {
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: auto;
}


button {
    border-style: double;
    border-radius: 2px;
    margin-bottom: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.deleteButton {
    border-style: double;
    border-radius: 2px;
    margin-bottom: 1px;
    margin-top: 2px;
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#buttonDay {
    border-style: double;
    border-radius: 2px;
    margin-bottom: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

#buttonPeriod {
    border-style: double;
    border-radius: 2px;
    margin-bottom: 1px;
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#saveButton {
    align-self: center;
    margin-top: 5px;
    display: flex;
  justify-content: center;
  align-items: center;
}

#printable-section {
    display: block;
}

@media print {
    @page {
        size: A4;
        margin: 2cm;

        @top-left {
            content: "My Website - Page " counter(page);
        }

        @bottom-right {
            content: "Printed on " counter(date);
        }
    }

    body * {
        display: none;
    }
}

label {
    text-decoration: underline;
}

#inputteach {
    font-size: 11px;
    width: 240px;
}

#inputsmall {
    font-size: 10px;
    width: 45px;
    align-items: center;
    align-content: center;
    cursor: cell;
    word-wrap: normal;
}

#textarealg {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    border: none;
    width: 640px;
    height: 75px;
    color: #778899;
}

#textareamed {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    border: none;
    width: 310px;
    height: 75px;
    color: #778899;
}

#textareasm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    border: none;
    width: 40px;
    height: 15px;
    color: #778899;
}

#textareaResources {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    border: none;
    width: 215px;
    height: 70px;
    color: #778899;
}

#textareaPlan {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    border: none;
    width: 295px;
    height: 70px;
    color: #778899;
}

#textareaTime {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    border: none;
    width: 55px;
    height: 70px;
    color: #778899;
}


#containerInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#teacherName {
    background-color: #fff;
    height: 25px;
    width: 380px;
    border-radius: 3px;
    border: solid;
    padding: 3px;
}

#gradeLevel {
    background-color: #fff;
    height: 25px;
    width: 100px;
    border-radius: 3px;
    border: solid;
    padding: 3px;
}

#roomNum {
    background-color: #fff;
    height: 25px;
    width: 110px;
    border-radius: 3px;
    border: solid;
    padding: 3px;
}

#containerContacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-top: 5px;
}

#computerInfo {
    background-color: #fff;
    height: 100px;
    width: 315px;
    border-radius: 3px;
    border: solid;
}

#helpfulContacts {
    background-color: #fff;
    height: 100px;
    width: 315px;
    border-radius: 3px;
    border: solid;
}

#Schedule {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#classSchedule {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2px;
}

#classScheduleContainer {
    display: flex;
    padding: 5px;
    background-color: #fff;
    height: auto;
    width: auto;
    border-radius: 3px;
    border: solid;
    margin-bottom: 10px;
    padding: 10px;
    justify-content: center;
}

#classScheduleDays {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#period {
    width: auto;
    height: auto;
    background-color: #fff;
    border-bottom: solid black;
    align-content: center;
}


#firstpgBottom {
    display: flex;
    flex-flow: column wrap;
}

#containerStudent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10px;
}

#studentBehaviour {
    background-color: #fff;
    height: 100px;
    width: 315px;
    border-radius: 3px;
    border: solid;
}

#emergProcedures {
    background-color: #fff;
    height: 100px;
    width: 315px;
    border-radius: 3px;
    border: solid;
}

#containerPrep {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1rem;
}

#notesExpectations {
    background-color: #fff;
    height: 100px;
    width: 650px;
    border-radius: 3px;
    border: solid;
}

#containerClassList {
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
}

#classList {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1rem;
    background-color: #fff;
    border: solid;
    border-radius: 3px;
    width: 650px;
    height: 560px;
    margin: auto;
}

#listNames {
    border-right: solid 2px #778899;
    display: flex;
    flex-flow: column wrap;
    width: 310px;
    height: 550px;
}

#listNotes {
    display: flex;
    flex-flow: column wrap;
    width: 310px;
    height: 550px;
}

#textareanames {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    border-bottom: solid 2px black;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 285px;
    height: 12px;
    color: #778899;
}

#containerSeating {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

#seatingChart {
    width: 600px;
  height: 400px;
  border-radius: 2px;
  border: 2px solid black;
  background-color: #f9f9f9;
  margin-top: 10px;
}

#addSeatBtn {
    height: 35px;
    width: 80px;
    margin-top: 5px;
}

.seat {
  width: 70px;
  height: 40px;
  border: 1px solid #333;
  background-color: #fff;
  text-align: center;
  margin-left: 5px;
}

.seatName {
  width: 60px;
  height: 30px;
  border: none;
  font-size: 10px;
  text-align: center;
}

#containerPlan {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}

#planNotes {
    display: flex;
}

#periodDetails {
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    background-color: #fff;
    width: 650px;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}

.period {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100px;
    border: solid;
}

.periodTitle {
    height: 20px;
    width: 70px;
    background-color: #fff;
    align-self: center;
}

#periodDiv {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 1px;
}

#addPeriodPlanBtn {
width: 120px;
align-self: center;
margin-bottom: 0px;
padding-bottom: 0px;
}

#insertTime {
    width: 60px;
    border-right: solid black 1px;
}

#periodPlan {
    width: 300px;
    border-right: solid black 1px;
}

#resourcesNeeded {
    width: 220px;
    border-right: solid black 1px;
}

#period1 {
    display: flex;
    flex-direction: row;
    justify-content:center;
    border: solid;
    border-radius: 2px;
}

#period2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}

#period3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}

#period4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}

#period5 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}

#period6 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}

#period7 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}

#period8 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}

#period9 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}

#period10 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: solid;
    border-radius: 2px;
}